* {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.5px;
}
/* .app-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
  margin-top: 50px;
} */
