@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


.chat-container {
	display: flex;
	flex-direction: row;
	background-color: #f8efef;
	width: 100%;
}
.users {
	width: 30%;
	border: 1px solid rgb(166, 162, 162);
	background-color: rgb(238, 238, 238);
	margin-top:140px;
	max-height: 62.3vh;
	display: inline;
	/* listStyle: none; */
	overflow: scroll;
	float: left;
			
	
}


.chat-board-title{
	text-align: center;
	font-family: 'Inconsolata', monospace;
	letter-spacing: 1px;
	margin: auto;
	position:fixed;	
	display: inline;

}

.avatar-img{
	max-width: 15% !important;
	padding-top: 3%;
	margin-left: 3%;
}

.message-feed {
	width: 70%;
	padding-top: 20px;
	border: 1px solid rgb(166, 162, 162);
	overflow: scroll;
	max-height: 90vh;
	background-image: url("../img/bg.jpeg");
	background-repeat: no-repeat;
	background-size:cover;
	overflow-y: visible;
	
}

.message-input {
	/* width: 800px;  */
	width: 56.7%;
	
}
#messages {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
	overflow-y: scroll;
	width: 100%;
	background-color: rgb(233, 233, 233);
	
}
.message-form {
	bottom: 0;
	margin-right: 2px;
	margin-left: auto;
	margin-bottom: 20px;
	background-color: #f8efef;
	position: sticky;
	width: 100%;
}

#form-div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* position: absolute; */
	width:100%;
	height: 60px
}

#chat-message {
	margin-top: 1.55%;
	margin-bottom: 1.55%;
	padding: 6px;
	border-radius: 20px;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.242);
	width: 50%;
}

.current-user-message {
	margin-right: 2.5%;
	margin-left: 45%;
	align-self: flex-end;
	background-color: rgb(74, 153, 233);
	color: #fff;
}

.other-user-message {
	margin-left: 2.5%;
	align-items: flex-start;
	background-color: rgb(83, 183,124);
}
.searchArea {
	width: 100%;
	background-color:rgb(240,243,244);
	padding: .3rem;
	border-radius: 30px;
	transition: all var(--dur) var(--bez);
	margin-bottom: 3%;
}

#send-button {
	height: 60px;
}

.send-button {
	/* opacity: 0.8; */
	background-color: white;
	float: right;
	/* margin: 0%; */
	padding: 10px;
	/* margin-right: 171px; */
	width:20%;
	/* box-shadow: 1px 1px #888888; */
	color: #0093e9;
}
form.edit-message {
	display: flex;
	flex-direction: column;
}

form.edit-message input[type="text"] {
	margin-top: 0.5rem;
	border: 1px solid transparent;
	/* background-color: var(--bg-color-3); */
	background-color: #f8efef;
}

form.edit-message input[type="text"]:focus {
	border: 1px solid rgb(166, 162, 162);
}

.edit-button {
	margin-top: 0.5rem;
	width: 50px;
}
#chat-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-style: none;
}

