.footer-container {
  height: 5vh;
  min-height: 50px;
  background-color: rgb(238, 238, 238);
  position: fixed;
  width: 100%;
  overflow: auto;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-top: 1px black solid;
}

.footer-contact {
  /* text-decoration:none; */
  color: rgb(101, 104, 107);
}

.social-icons.git {
  color: rgb(28, 31, 35);
}

.social-icons.linked {
  color: rgb(51, 117, 176);
}
