.footer-container {
	/* height: 500px; */
	background-color: #1233d8;
	position: fixed;
	width: 100%;
	overflow: auto;
	bottom: 0;
	margin-bottom: 0;
	padding-bottom: 2.5rem;
	transition: bottom 0.3s;
	/* margin: auto; */
}
