.nav-container {
	background-color: rgb(238, 238, 238);
	width: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
	position: static;
	z-index: 1;

}

.nav-list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin: 3% 0 3% auto;
}

.nav-items {
	text-decoration: none;
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	color:rgb(16,20,25)
}

.name-title{
	font-weight:bolder;
}

.nav-button {
	text-decoration: none;
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}
